<section class="about mt-3 shadow p-3 mb-5 bg-body rounded">
		<p class="pt-4 fs-1 fw-bold">7ODA</p>
		<div class="about-info">
			<div class="about-img">
				<img src="assets/img1.jpg" alt="">
			</div>
			<div>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam sapiente explicabo illum aut omnis asperiores dolores, harum quo praesentium debitis soluta nobis doloribus sequi labore quos impedit placeat eos aperiam!</p>
  <div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-secondary mt-5 h-50" type="button">Read More ...</button>
  </div>

			</div>
		</div>
	</section>

