<footer class="bg-dark text-center text-white foot">
  <div class="container p-4 my-5">
    <section class="">
      <form action="">
        <div class="row d-flex justify-content-center">
          <!-- <div class="">
            <p class="d-flex justify-content-center">
              <strong class="fs-4 ">Sign up
                <br>for our newsletter</strong>
            </p>
          </div> -->
          <div class="col-md-5 col-12">
            <br><br><div class="form-outline form-white mb-4">
              <input type="email" id="form5Example21" class="form-control test-input" placeholder="ex: 7oda@gmail.com" />
             <br> <label class="form-label" for="form5Example21">Email address</label >
            </div>
          </div>
         <div class="col-auto">
          <br><br> <button type="submit" class="btn btn-outline-light mb-4 test">
              Subscribe
            </button>
          </div>
        </div>
      </form>
    </section>



  </div>



      <div class="text-center p-3 mt-5" style=" background-color: rgba(0, 0, 0, 0.2)">
        © 2023 Copyright : Mahmoud Mohamed
        <a class="text-white" href="#" routerLink="/Main">7oDa.com</a>
      </div>





</footer>
