
  <div class="d-none d-sm-block">
    <img src="assets/FLASHSALE1170x60EN.jpg" class="w-100">
  </div>


  <nav class="navbar navbar-expand-lg sticky-sm-top bg-white ">
    <div class="container" >
      <a class="navbar-brand fs-2 fw-bold test" href="#" routerLink="/Main">7ODA</a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active mahm" aria-current="page" href="#" routerLink="/Main" routerLinkActive="active test-active" >Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active mahm" href="#" routerLink="/Products" routerLinkActive="active test-active">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active mahm" href="#" routerLink="/AboutUs" routerLinkActive="active test-active">About US</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active mahm" href="#" routerLink="/Contact" routerLinkActive="active test-active" >Contact US</a>
          </li>

          <!-- <li class="nav-item">
            <a class="nav-link active mahm" href="#" routerLink="/Parent" routerLinkActive="active test-active">Parent</a>
          </li> -->

          <li class="nav-item">
            <a class="nav-link active mahm" href="#" routerLink="/Posts" routerLinkActive="active test-active">Posts</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>






