<!-- <div class="container-fluid">
  <app-navbar></app-navbar>
  <div class="row">
    <app-sidebar class="col-sm-3"></app-sidebar>
    <app-products class="col-sm-9"></app-products> -->
    <!-- <app-main class="col-sm-9 mt-5" ></app-main> -->
    <!-- <app-aboutus class="col-sm-9 mt-5" ></app-aboutus> -->
      <!-- <app-contactus class="col-sm-9 mt-5"></app-contactus> -->

      <!-- <app-notfound></app-notfound>
  </div>
  <app-footer></app-footer>
</div> -->


<app-navbar></app-navbar>



<router-outlet></router-outlet>

