<ul class="list-group text-break  shadow p-3 my-3 bg-body rounded">
  <li class="list-group-item"><a href="#" class="text-black text-decoration-none test">Supermarket</a></li>
  <li class="list-group-item"><a href="#" class="text-black text-decoration-none test">Fashion</a></li>
  <li class="list-group-item"><a href="#" class="text-black text-decoration-none test">Health & Beauty</a></li>
  <li class="list-group-item"><a href="#" class="text-black text-decoration-none test">Baby Products</a></li>
  <li class="list-group-item"><a href="#" class="text-black text-decoration-none test">Phones & Tablets</a></li>
  <li class="list-group-item"><a href="#" class="text-black text-decoration-none test">Home & Furniture</a></li>
  <li class="list-group-item"><a href="#" class="text-black text-decoration-none test">Appliances</a></li>
  <li class="list-group-item"><a href="#" routerLink="/Products" class="text-black text-decoration-none test">Electronics</a></li>
  <li class="list-group-item"><a href="#" class="text-black text-decoration-none test">Computing</a></li>
  <li class="list-group-item"><a href="#" class="text-black text-decoration-none test">Spoorting Goods</a></li>
  <li class="list-group-item"><a href="#" class="text-black text-decoration-none test">Gaming</a></li>
  <li class="list-group-item"><a href="#" class="text-black text-decoration-none test">Other Categories</a></li>


</ul>
